################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ingly-linked_list/v17
*.user
*.filters
*.vcxproj
*.sln
/x64/Debug
